/* Maintenance Dashboard Logo */
#support-logo {
	margin-top: 20px;
}

form#korndev-support {
	margin-top: 20px;
}

form#korndev-support h4 {
    padding-bottom: 5px;
 	border-bottom: solid 1px #ddd;
 	font-weight: bold;
}

form#korndev-support label {
	font-weight: bold;
}

form#korndev-support .textarea-wrap {
	margin-top: 15px;
}

form#korndev-support .description {
	margin: 0;
	font-size: 90%;
	font-style: italic;
}

#footer-korndev-hosting {
	padding: 0 10px;
}

#footer-korndev-hosting img {
	vertical-align: bottom;
}

/* iThemes Security */
div[data-id="network-brute-force-promo"] {
	display: none;
}